BACKEND_SWAGGER_URL=http://localhost:3004/api/docs-json
API_URL_PRIVADA=http://localhost:3004
NEXT_PUBLIC_BASE_PATH=/api/backend
NEXT_PUBLIC_WS_BASE_URL=http://localhost:3004
NEXTAUTH_URL=http://whatsapp-web-api.local
NEXTAUTH_SECRET=change_me_nextauth_secret
